.page-content
  padding: 20px

  .back-link
    margin-bottom: 20px

  .post-header
    .post-tags
      margin-top: $small-spacing
      margin-bottom: $small-spacing
      .tag-header
          font-size: 0.8rem
          font-weight: 300
          border-radius: 25px
          background-color: #f1eff0
          color: #636363
          padding: 5px 10px
          margin-right: $small-spacing
          &:hover,
          &:active,
          &:focus
            color: $primary-color
