<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" src="/assets/images/me.jpg" alt="{{site.name}}">
        <p class="def">Author</p>
        <h3 class="name">
            <a itemprop="name" href="https://linkedin.com/in/{{site.author.linkedin}}/">{{site.author.name}}</a>
        </h3>
        <p class="desc">{{site.author.tagline}}</p>
        <a itemprop="email" class="email" href="mailto:{{site.author.email}}">{{site.author.email}}</a>
    </div>
</section>